web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
bin/
vendor/
var/
composer.phar

/app/config/parameters.yml
/app/config/key.gpg

/.idea/
/*.log

src/Ivan1986/DebBundle/apt/etc/sources.list
src/Ivan1986/DebBundle/apt/etc/trusted.gpg.d/repo-self.gpg

