{% block checkbox_label %}
{% spaceless %}
{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' checkbox-label')|trim}) %}
{{ block('form_label') }}
{% endspaceless %}
{% endblock %}

{% block checkbox_row %}
{% spaceless %}
<div>
{{ form_widget(form) }}
{% if not compound %}
    {{ form_errors(form) }}
    {% endif %}
</div>
{% endspaceless %}
{% endblock %}

