{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% block title %}Welcome!{% endblock %}
{% block head_style %}
    {% stylesheets '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    {% stylesheets filter="compass" "@Ivan1986DebBundle/Resources/assets/css/*.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        body {
            margin: 40px 0;
        }
    </style>
{% endblock head_style %}
{% block head_bottom %}
    {% include "GoogleBundle:Analytics:async.html.twig" %}
{% endblock head_bottom %}
{% block body_tag %}
<body>
{% endblock body_tag %}

{% block body %}<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ url('home') }}">PkgGen</a>
                <ul class="nav">
                    {% block top_nav %}{% endblock %}
                </ul>
                <div class="navbar-text pull-right">
                    {% block login %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    {% block content %}{% endblock %}
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-text pull-left">
                    <a href="https://github.com/ivan1986/deb-pkg-gen">{% trans %}исходный код на GitHub{% endtrans %}</a>
                </div>
                <div class="navbar-text pull-right">{% trans %}Сопровождающий{% endtrans %}: {{maintainer}}</div>
            </div>
        </div>
    </div>
{% endblock %}
