<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer>
            <p><a href="https://github.com/ivan1986/deb-pkg-gen">https://github.com/ivan1986/deb-pkg-gen</a></p>
            <p>{{maintainer}}</p>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
