{% extends 'Ivan1986DebBundle::layout.html.twig' %}
{% block title %}{% trans %}Репозиторий репозиториев{% endtrans %}{% endblock %}
{% block fos_user_content %}

{% include 'Ivan1986DebBundle:Builder:packageform.html.twig' %}

<div class="hero-unit">
    <h1>{% trans %}Репозиторий репозиториев{% endtrans %}</h1>
    <p>{% trans %}Позволяет подключать сторонние репозитории путем установки пакетов{% endtrans %}</p>
    <p>
        {% trans %}Пакеты для подключения{% endtrans %}:
        <a class="btn btn-primary btn-large" href="{{ path('main_repo') }}">{% trans %}Репозитории{% endtrans %}</a>
        <a class="btn btn-primary btn-large" href="{{ path('link_repo') }}">{% trans %}Пакеты{% endtrans %}</a>
    </p>
</div>
{% endblock %}