{{ form_start(form, {'attr': {'class': 'fos_user_registration_register form-vertical'}}) }}
    {{ form_widget(form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
{{ form_end(form) }}
