
@mixin center-form($x, $y)
{
  position: absolute;
  left: 50%;
  top: 35%;
  width: $x;
  margin: 0;
  margin-top: -$y/2;
  margin-left: -$x/2;
  box-shadow: 2px 2px 10px #CCC;
  border: 1px solid #DDD;
  border-radius: 6px;
  padding-top: 15px;

  input[type=text],
  input[type=password],
  input[type=email],
  {
    height: 35px;
    line-height: 35px;
    font-size: 25px;
    width: 400px;
  }

  .form-actions {
    margin-bottom: 0px;
  }

  .control-group {
    padding: 0 20px 0 20px;
  }


}

.pkg-form {
  @include center-form(450px, 260px);
  top: 55%;
}

.container {
  height: 100%;
}

.records_list td {
  white-space: nowrap;
}


.pkg-build-err {
  position: relative;
  margin: auto;
  width: 400px;
  top: 15%;
}

.login-form {
  @include center-form(450px, 260px);
}

.fos_user_registration_register {
  @include center-form(450px, 260px);

  #fos_user_registration_form {
    padding-left: 20px;
  }

  legend {
    padding-left: 20px;
  }

}

.checkbox-label {
  display: inline-block;
}