{% extends 'Ivan1986DebBundle::layout.html.twig' %}
{% block fos_user_content %}

{% if e is defined %}
<div class="alert alert-error pkg-build-err">
    <h4 class="alert-heading">{% trans %}Ошибка{% endtrans %}!</h4>
    {{e}}
</div>
{% endif %}

{% include 'Ivan1986DebBundle:Builder:packageform.html.twig' %}
{% endblock %}
