<form action="{{ path('pkg_build') }}" method="post" class="form-vertical pkg-form">

    <fieldset>
        <div class="control-group">
            <label class="control-label" for="url">{% trans %}Адрес репозитория{% endtrans %}</label>
            <div class="controls">
                <input type="text" id="url" name="form[url]" value="{{form.url|default("")}}" class="input-xlarge" placeholder="http://repo.com/debian/ stable main" />
                <p class="help-block">{% trans %}Тот адрес который вас просят добавить в sources.list{% endtrans %}</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="key">GPG Key ID</label>
            <div class="controls">
                <input type="text" id="key" name="form[key]" value="{{form.key|default("")}}" class="input-xlarge" placeholder="AA123456"/>
                <p class="help-block">{% trans %}ID ключа можно обычно найти рядом с адресом репозитория{% endtrans %}</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="name">{% trans %}Имя пакета{% endtrans %}</label>
            <div class="controls">
                <input type="text" id="name" name="form[name]" value="{{form.name|default("")}}" class="input-xlarge" placeholder="my-package" />
                <p class="help-block">{% trans %}Совместимое с unix именем (a-z 0-9 и тире){% endtrans %}</p>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{% trans %}Сгенерировать deb-пакет{% endtrans %}" />
        </div>
    </fieldset>
</form>
