<form action="{{ path('pkg_build') }}" method="post" class="form-vertical pkg-form">

    <fieldset>
        <div class="control-group">
            <label class="control-label" for="url">Адрес репозитория</label>
            <div class="controls">
                <input type="text" id="url" name="form[url]" value="{{form.url|default("")}}" class="input-xlarge" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="key">ID gpg ключа</label>
            <div class="controls">
                <input type="text" id="key" name="form[key]" value="{{form.key|default("")}}" class="input-xlarge" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="name">Имя пакета</label>
            <div class="controls">
                <input type="text" id="name" name="form[name]" value="{{form.name|default("")}}" class="input-xlarge" />
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Сгенерировать deb-пакет" />
        </div>
    </fieldset>
</form>
