
@mixin center-form($x, $y)
{
  position: absolute;
  left: 50%;
  top: 35%;
  width: $x;
  margin: 0;
  margin-top: -$y/2;
  margin-left: -$x/2;
  box-shadow: 2px 2px 10px #CCC;
  border: 1px solid #DDD;
  border-radius: 6px;
  padding: 15px;

}

.stat {
  .panel {
    text-align: center;
  }
  .panel-body {
    font-size: 48px;
  }
}

.pkg-form {
  @include center-form(450px, 260px);
  top: 55%;
}

.login-form {
  @include center-form(450px, 260px);
}

.fos_user_registration_register {
  @include center-form(750px, 260px);

  #fos_user_registration_form {
    padding-left: 20px;
  }

}
