Source: tmpl
Section: main
Priority: extra
Maintainer: Ivan Borzenkov <ivan1986@list.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://ya.ru

Package: tmpl
Architecture: all
Section: repo
Depends: apt, ${misc:Depends}
Description: package to install ...
 ......
