{% extends 'Ivan1986DebBundle::layout.html.twig' %}
{% block title %}{% trans %}Репозиторий репозиториев{% endtrans %}{% endblock %}
{% block fos_user_content %}

<div class="jumbotron">
    <h1>{% trans %}Репозиторий репозиториев{% endtrans %}</h1>
    <p>{% trans %}Позволяет подключать сторонние репозитории путем установки пакетов{% endtrans %}</p>
    <p>
        {% trans %}Пакеты для подключения{% endtrans %}:
        <a class="btn btn-primary btn-large" href="{{ path('main_repo') }}">{% trans %}Репозитории{% endtrans %}</a>
    </p>
</div>

<div class="row stat">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans %}stat.repositories{% endtrans %}</h3>
            </div>
            <div class="panel-body">
                {{ repositories }}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans %}stat.users{% endtrans %}</h3>
            </div>
            <div class="panel-body">
                {{ users }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
